@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="file"],
input[type="text"],
input[type="number"],
textarea {
  border: thin solid #dedede;
  border-radius: 0.25 rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  outline: none;
  display: block;
  width: 60%;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
}

button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled {
  border: thin solid #444;
  background-color: #eee;
  color: #444;
}

button,
input[type="submit"],
input[type="reset"] {
  border: thin solid #3864e7;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0 0;
  display: inline-block;
  background-color: #3864e7;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

form {
  margin-bottom: 1rem;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

label {
  padding: 0.5rem 0;
  margin: 0 0 0.5rem 0;
  display: inline-block color #444;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
}